const {Command} = require('@sapphire/framework');

const dotenv = require('dotenv');
const fs = require('fs');
const { add } = require('winston');

const envConfig = dotenv.parse(fs.readFileSync('.env'));
for (const k in envConfig) {
    process.env[k] = envConfig[k];
}

const prisma = require('../../../prismaClient');
const addUserGambling = require('../../../utility/addUserGambling');

module.exports = class ProfileCommand extends Command {
    constructor(context, options) {
        super(context, {
            ...options,
            name: 'function',
            description: 'Fait quelque chose',
        });
    }

    registerApplicationCommands(registry) {
        registry.registerChatInputCommand(
            (builder) =>
                builder
                    .setName('function')
                    .setDescription('Fait quelque chose'),
            {
                guildsId: [process.env.GUILD_ID],
            },
        );
    }

    async chatInputRun(interaction) {
        const clientId = parseInt(interaction.user.id);
        const name = interaction.user.username;

        const user = await prisma.users.findFirst({
            where: {
                clientId,
            },
        });

        if (!user) {
            addUserGambling(name, clientId);
            this.chatInputRun(interaction);
        }

        await interaction.reply(user);
    }
};