const {MessageEmbed} = require('discord.js');

/**
 * @function
 * @returns {MessageEmbed}
 */
function getEmbed() {
    return new MessageEmbed()
        .setColor();
}

module.exports = {function1, function 2};
